<div class="container-fluid bg-light">
  <nav class="container navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="loading">Loading</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Member
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" *ngIf="isAuth" (click)="logout()">Logout</a>
            <a class="dropdown-item" routerLink="user" *ngIf="!isAuth">Login</a>
            <a class="dropdown-item" routerLink="user/register" *ngIf="!isAuth">Register</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="isAuth">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdowndd" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdowndd">
            <a class="dropdown-item" routerLink="/admin/post-create">Create Post</a>
            <a class="dropdown-item" routerLink="/admin/gallery">Gallery</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin" tabindex="-1" *ngIf="isAuth">Admin Panel</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
